<!-- INI SCRIPT BOOTSTRAP -->
<meta charset="UTF-8">
<title>HEAD</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
<style>
    * { margin: 0; padding: 0; }
</style>
