<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home
    <%- include('./head') %>
    </title>
</head>
<body>
<%- include('./header') %>
<h1>HOMEPAGE</h1>
</body>
<%- include('./footer'); %>
</html>